<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raspored casova , domaci 67</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Dusan Djordjevic s30/19</h1>
    <input type="text" placeholder="Pretraga...">

    <table class = "tabela1" id ="tabela1">
        {% for r in raspored %}
            <tr>
                <td>{{r}}</td>
            </tr>
            
        {% endfor %}
    </table>

    <table class = "tabela2" id="tabela2">
        <tr>
            <th>Ime i prezime profesora</th>
            <th>Ucionica</th>
        </tr>
        {% for r in raspored %}
        
        <tr>
           <td><a href="/raspored/{{r[3]}}">{{r[3]}}</a></td>
            <td><a href="/raspored/{{r[7]}} ">{{r[7]}}</a></td>
        </tr>

        {% endfor %}
    </table>
</body>
</html>